@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("..assets/vendor/bootstrap-icons/fonts/bootstrap-icons.woff2?dd67030699838ea613ee6dbda90effa6") format("woff2"),
url("..assets/vendor/bootstrap-icons/fonts/bootstrap-icons.woff?dd67030699838ea613ee6dbda90effa6") format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-arrow-up-short::before { content: "\f145"; }


li{
      margin-bottom:5px;
}

.breadcrumbs ol li a{
  color:darkblue;
  font-weight:600;
  letter-spacing: 1px;
}

.text-bold{
width:90%;
font-weight:600;
padding:2% 2% 2% 3%;

}

#blog-body .card-body {
      padding:10px;
      margin: 40px 0px -10px 0px;
}

#blog-body .card {
      min-height:360px;
      
  }

#blog-body .align-items-stretch {
margin: 10px 0px;
}

.portfolio-description{
      width:70%;
      margin:5%;
      margin-left:0;
}

.portfolio-description a {
      font-weight: 500;
      color:darkblue !important;
}


[data-aos] {
    pointer-events: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }

.teklif-formu-435{
      margin-bottom:20px;
      margin-top:5px;
}

.teklif-button{
      border-radius: 10px;
      width: 100px;
      height: 33px;
      color: black;
      background-color: white;
}

.teklif{
      border-color: beige;
      border-style: solid;
}

.not-bolumu{
      padding:15px;
}

textarea.teklif-formu-435{
      min-height:150px;
}

@media (max-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}
.portfolio-description{
      width:90%;
      margin:5%;
}

.footer-links{
display:none;
}
      
}
