.text-bold{
width:90%;
font-weight:600;
padding:2% 2% 2% 3%;

}

#blog-body .card-body {
      padding:10px;
      margin: 40px 0px -10px 0px;
}

#blog-body .card {
      min-height:360px;
      
  }

#blog-body .align-items-stretch {
margin: 10px 0px;
}

.portfolio-description{
margin:5%;
}


[data-aos] {
    pointer-events: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }

.teklif-formu-435{
      margin-bottom:20px;
      margin-top:5px;
}

.teklif-button{
      border-radius: 10px;
      width: 100px;
      height: 33px;
      color: black;
      background-color: white;
}

.teklif{
      border-color: beige;
      border-style: solid;
}

.not-bolumu{
      padding:15px;
}

textarea.teklif-formu-435{
      min-height:150px;
}

@media (max-width: 768px)
.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}
